{% extends "base.html" %}

{% load static %}

{% block title %}Add Source{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/source/add_source.css' %}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="add-source-container">
    <h2>Add Source</h2>
    <form method="post">
      {% csrf_token %}

      <label for="name">Source Name:</label>
      <input type="text" name="name" value="{{ source.name|default:'' }}" required />

      <label for="url">Source URL:</label>
      <input type="url" name="url" value="{{ source.url|default:'' }}" required />

      <label for="companies">Tagged Companies:</label>
      <select name="companies" id="companies" class="form-multi-select" multiple>
        {% for company in companies %}
          <option value="{{ company.id }}" {% if company.id in tagged_companies %}selected{% endif %}>{{ company.name }}</option>
        {% endfor %}
      </select>

      <!-- Add New Company Link -->
      <p>
        Don't see enough company? <a href="{% url 'company:add_company' %}">Add a new company</a>
      </p>

      <button type="submit">
        {% if source %} Update {% else %} Add {% endif %} Source
      </button>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>
    $(document).ready(function() {
        $('.form-multi-select').select2({
            placeholder: "Select companies",
            allowClear: true
        });
    });
  </script>
{% endblock %}
