{% extends "base.html" %}

{% load static %}

{% block title %}View Sources{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'source/css/list_sources.css' %}"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<h2>Sources List</h2>

<label for="search-source">Search Source:</label>
<input type="text" id="search-source" placeholder="Search by name..." class="search-input"/>
<table class="source-table" id="source-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Tagged Companies</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
<!--<p id="fetch-message" style="display: none; color: green;">Story fetched successfully.</p>-->

<div class="pagination"></div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  var sourceListUrl = "{% url 'source:fetch_sources' %}";
  var csrfToken = "{{ csrf_token }}";
  var fetchStoriesUrl = "source/fetch-story/";
</script>
<script src="{% static 'js/pagination.js' %}"></script>
<script src="{% static 'source/js/list_source.js' %}"></script>
{% endblock %}
