{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'story/css/list_stories.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

{% endblock %}

{% block content %}
<h2 class="page-title">Stories List</h2>

<!-- Search and Filter Section -->
<div class="filter-container">
  <label for="search-title" class="filter-label">Search by Title:</label>
  <input type="text" id="search-title" class="filter-input" placeholder="Enter story title...">

  <label for="filter-date" class="filter-label">Filter by Date:</label>
  <input type="date" id="filter-date" class="filter-input">
</div>


<div class="stories-container" id="stories-list"></div>
<div class="pagination">Page</div>
<!-- Pagination Controls -->
<!--{% if stories.has_other_pages %}-->
<!--<div class="pagination">-->
<!--      <span class="step-links">-->
<!--        {% if stories.has_previous %}-->
<!--          <a href="?page=1">&laquo; First</a>-->
<!--          <a href="?page={{ stories.previous_page_number }}">Previous</a>-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--          Page {{ stories.number }} of {{ stories.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if stories.has_next %}-->
<!--          <a href="?page={{ stories.next_page_number }}">Next</a>-->
<!--          <a href="?page={{ stories.paginator.num_pages }}">Last &raquo;</a>-->
<!--        {% endif %}-->
<!--      </span>-->
<!--</div>-->

<!--{% endif %}-->
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  var storyListUrl = "{% url 'story:fetch' %}";
</script>
<script src="{% static 'story/js/list_stories.js' %}"></script>

{% endblock %}
