{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/company/add_company.css' %}" />
{% endblock %}

{% block content %}
  <h2>Add Company</h2>
{% if messages %}
      {% for message in messages %}<p class="error-message">{{ message }}</p>{% endfor %}
    {% endif %}
  {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
  <form method="post">
    {% csrf_token %}
    <label for="name">Company Name:</label>
    <input type="text" name="name" required />
    <label for="domain">Company Domain:</label>
    <input type="url" name="domain" required />
    <button type="submit">Add Company</button>
  </form>
{% endblock %}
