{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/user/signup.css' %}" />
{% endblock %}

{% block content %}
  <div class="signup-container">
    <h2>Sign Up</h2>

    {% if error %}
      <p class="error-message">{{ error }}</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <!-- First Name -->
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" required />

      <!-- Last Name -->
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" />

      <!-- Email -->
      <label for="email">Email:</label>
      <input type="email" name="email"
       title="Please enter a valid email (e.g., user@example.com)"
       required />

      <!-- Password -->
      <label for="password">Password:</label>
      <input type="password" name="password" required />

      <!-- Confirm Password -->
      <label for="confirm_password">Confirm Password:</label>
      <input type="password" name="confirm_password" required />

      <!-- Company Dropdown -->
      <label for="company">Company:</label>
      <select name="company">
        <option value="">Select a Company</option>
        {% for company in companies %}
          <option value="{{ company.id }}">{{ company.name }}</option>
        {% endfor %}
      </select>

      <!-- Add New Company Link -->
      <p>
        Don't see your company? <a href="{% url 'company:add_company' %}">Add a new company</a>
      </p>

      <!-- Submit Button -->
      <button type="submit">Register</button>
    </form>
  </div>
{% endblock %}
